<app-nav-common></app-nav-common>
<!-- Site header -->
<header
  class="page-header bg-img size-lg"
  style="background-image: url(../../../../assets/img/background-4.jpg)"
>
  <div class="container no-shadow">
    <h1 class="text-center">Blog</h1>
    <p class="lead text-center">Keep up to date with the latest news</p>
  </div>
</header>
<!-- END Site header -->

<!-- Main container -->
<main class="container blog-page">
  <div class="row">
    <div class="col-md-8 col-lg-9">
      <article class="post">
        <div class="post-media">
          <a href="/page-post"
            ><img src="../../../../assets/img/SV-FPT-Jobfair-3.jpg" alt="..."
          /></a>
        </div>

        <header>
          <h2>
            <a href="/page-post"
              >Nearly 2,000 job positions awaited FPT University students</a
            >
          </h2>
          <time datetime="2019-03-04 20:00">March 04, 2019</time>
        </header>

        <div class="blog-content">
          <p class="text-justify">
            Job and Internship Fair 2018 is the largest "Job Fair" at FPT
            University, which attracts more than 14 businesses and offers
            hundreds of recruitment opportunities for students. From the early
            morning, the Innovation lobby was busy and crowded with many
            students because of the "Job and Internship Fair 2018" exposition.
            The program brings together lots of huge brands of IT, Graphic
            Design, Business, Media, etc. Come to Job Fair, students will have a
            more specific perspective of the major that they have chosen. Also
            in here, employers will provide students with the necessary
            information and skills that need to be supplemented before deciding
            to apply for a position in any company.
          </p>
        </div>

        <p class="read-more">
          <a class="btn btn-primary btn-outline" href="/page-post"
            >Continue reading</a
          >
        </p>
      </article>

      <article class="post">
        <div class="post-media">
          <a href="/page-post"
            ><img src="../../../../assets/img/blog2.jpg" alt="..."
          /></a>
        </div>

        <header>
          <h2>
            <a href="/page-post"
              >FPT University cooperates with Vietnamworks - the leading
              recruitment network in Vietnam</a
            >
          </h2>
          <time datetime="2020-06-30 20:00">July 30, 2020</time>
        </header>

        <div class="blog-content">
          <p class="text-justify">
            In the morning of July 30, representatives of Vietnamworks - the
            leading recruitment network in Vietnam, came to FPT University –
            HCMC campus to visit and work with the representatives of the FPT
            University. Accordingly, representatives of FPT University and
            Vietnamwork discussed strategic cooperation information on hiring,
            creating many values and benefits for students.
          </p>
        </div>

        <p class="read-more">
          <a class="btn btn-primary btn-outline" href="/page-post"
            >Continue reading</a
          >
        </p>
      </article>

      <article class="post">
        <div class="post-media">
          <a href="/page-post"
            ><img src="../../../../assets/img/blog3.jpeg" alt="..."
          /></a>
        </div>

        <header>
          <h2>
            <a href="/page-post">How is the working environment at Bosch?</a>
          </h2>
          <time datetime="2020-05-7 20:00">May 7, 2020</time>
        </header>

        <div class="blog-content">
          <p class="text-justify">
            That is the concern of many students before the On the Job Training
            term. To help them understand the working environment at businesses,
            FPT University organizes various Company Tour trips.
          </p>
        </div>

        <p class="read-more">
          <a class="btn btn-primary btn-outline" href="/page-post"
            >Continue reading</a
          >
        </p>
      </article>

      <nav>
        <ul class="pager">
          <li class="previous">
            <a href="#"><i class="ti-arrow-left"></i> Older posts</a>
          </li>
          <li class="next">
            <a href="#">Newer posts <i class="ti-arrow-right"></i></a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="col-md-4 col-lg-3">
      <div class="widget">
        <h6 class="widget-title">Search</h6>
        <div class="widget-body">
          <form method="get" target="#">
            <input
              class="form-control"
              type="text"
              name="s"
              placeholder="Enter your keyword"
            />
          </form>
        </div>
      </div>

      <div class="widget">
        <h6 class="widget-title">Popular</h6>
        <ul class="widget-body media-list">
          <li>
            <div class="thumb">
              <a href="/page-post"
                ><img src="../../../../assets/img/blog-1-thumb.jpg" alt="..."
              /></a>
            </div>
            <div class="content">
              <h5>
                <a href="/page-post"
                  >How to Design Your Workspace for Productivity</a
                >
              </h5>
              <time datetime="2016-04-04 20:00">April 04, 2016</time>
            </div>
          </li>

          <li>
            <div class="thumb">
              <a href="/page-post"
                ><img src="../../../../assets/img/blog-2-thumb.jpg" alt="..."
              /></a>
            </div>
            <div class="content">
              <h5>
                <a href="/page-post">Office Dress Code Do's and Don'ts</a>
              </h5>
              <time datetime="2016-03-28 20:00">March 28, 2016</time>
            </div>
          </li>

          <li>
            <div class="thumb">
              <a href="/page-post"
                ><img src="../../../../assets/img/blog-3-thumb.jpg" alt="..."
              /></a>
            </div>
            <div class="content">
              <h5>
                <a href="/page-post">Why People Thrive in Coworking Spaces</a>
              </h5>
              <time datetime="2016-03-17 20:00">March 17, 2016</time>
            </div>
          </li>
        </ul>
      </div>

      <div class="widget widget_categories">
        <h6 class="widget-title">Categories</h6>
        <ul class="widget-body">
          <li class="cat-item"><a href="#">News</a></li>
          <li class="cat-item"><a href="#">Companies</a></li>
          <li class="cat-item"><a href="#">Market</a></li>
          <li class="cat-item"><a href="#">Candidates</a></li>
          <li class="cat-item"><a href="#">Positions</a></li>
          <li class="cat-item"><a href="#">Stats</a></li>
        </ul>
      </div>

      <div class="widget widget_tag_cloud">
        <h6 class="widget-title">Tags</h6>
        <div class="widget-body">
          <a href="#">blog</a>
          <a href="#">new</a>
          <a href="#">google</a>
          <a href="#">position</a>
          <a href="#">facebook</a>
          <a href="#">hire</a>
          <a href="#">chance</a>
          <a href="#">resume</a>
          <a href="#">tip</a>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- END Main container -->
