<!-- Navigation bar -->
<nav class="navbar">
  <div class="container">
    <!-- Logo -->
    <div class="pull-left">
      <a class="navbar-toggle" href="/home" data-toggle="offcanvas"
        ><i class="ti-menu"></i
      ></a>

      <div class="logo-wrapper">
        <a class="logo" href="/home"
          ><img src="assets/img/logo_fptu.png" alt="logo"
        /></a>
        <a class="logo-alt" href="/home"
          ><img src="assets/img/logo_fptu.png" alt="logo-alt"
        /></a>
      </div>
    </div>
    <!-- END Logo -->

    <!-- User account -->
    <div class="pull-right">
      <div class="dropdown user-account">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
          <img src="assets/img/logo-envato.png" alt="avatar" />
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="/user-profile">Profile Setting</a></li>
          <!--view/ edit profile-->
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
    <!-- END User account -->

    <!-- Navigation menu -->
    <ul class="nav-menu">
      <li>
        <a class="active" href="/home">Dashboard</a>
      </li>
      <li>
        <a routerLink="#">Job</a>
        <ul>
          <li><a routerLink="/job-list">Browse Job</a></li>
          <li><a routerLink="/user-job-applied">Applied List </a></li>
        </ul>
      </li>

      <li>
        <a routerLink="/company-list">Companies</a>
      </li>

      <li>
        <a routerLink="/page-blog">News</a>
      </li>

      <li>
        <a routerLink="/about">About Us</a>
      </li>

      <li>
        <a routerLink="/faq">FAQ</a>
      </li>
    </ul>
    <!-- END Navigation menu -->
  </div>
</nav>
<!-- END Navigation bar -->
