<!--Login Page-->
<body class="login-page">
  <main>
    <div class="login-block">
      <img src="../../../../assets/img/logo_fptu.png" alt="" />

      <form action="#">
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="ti-email"></i></span>
            <input
              type="text"
              class="form-control"
              placeholder="user@fpt.edu.vn"
            />
          </div>
        </div>

        <hr class="hr-xs" />

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="ti-unlock"></i></span>
            <input
              type="password"
              class="form-control"
              placeholder="Password"
            />
          </div>
        </div>

        <button class="btn btn-primary btn-block" type="submit">Login</button>

        <div class="login-footer">
          <h6>Fogot password ? Contact us with</h6>
          <ul class="social-icons">
            <li>
              <a
                class="facebook"
                href="https://www.facebook.com/FPTUcareercenter"
                ><i class="fa fa-facebook"></i
              ></a>
            </li>
          </ul>
        </div>
      </form>
    </div>
  </main>
</body>
