<div class="page">
  <!--index/ t chưa chia role theo user - m chia role giúp t nhé-->
  <app-home></app-home>
  
  <!--login cho cả 3 role & register chỉ dùng cho company account -->
  <app-users></app-users>
  <app-user-login></app-user-login>
  <app-user-company-register></app-user-company-register>
  
  <!--tổng hợp liên quan đến job và chưa chia role-->
  <app-position> </app-position>
  <app-job-list></app-job-list>
  <app-job-detail></app-job-detail>
  <app-job-apply></app-job-apply>
  <app-job-add></app-job-add>
  <app-job-manage></app-job-manage>
  <app-job-candidates></app-job-candidates>
  
  <!--cái này về cv, duyệt cv, up cv, rồi manage nói chung á-->
  <app-resume> </app-resume>
  <app-resume-list></app-resume-list>
  <app-resume-detail></app-resume-detail>
  <app-resume-add></app-resume-add>
  <app-resume-manage></app-resume-manage>
  
  <!--ab company, manage duyệt company đồ đó đủ hết chưa role-->
  <app-company> </app-company>
  <app-company-list></app-company-list>
  <app-company-detail></app-company-detail>
  <app-company-add></app-company-add>
  <app-company-manage></app-company-manage>
  
  <!--page phụ/ phần about us chắc là lấy thông tin của team mình-->
  <app-pages> </app-pages>
  <app-page-blog></app-page-blog>
  <app-page-post></app-page-post>
  <app-about></app-about>
  <app-faq></app-faq>

  <!--mỗi một trang m nhớ thêm nav vói footer nhen, t chỉ mới thêm vào trang home thôi-->
  <!--nav với footer t chưa chỉnh lại mấy link root có gì mình check root lại giúp t nhen chưa quen kiểu đó của angular-->
</div>
