<!-- Navigation bar -->
<nav class="navbar">
  <div class="container">
    <!-- Logo -->
    <div class="pull-left">
      <a class="navbar-toggle" href="/home" data-toggle="offcanvas"
      ><i class="ti-menu"></i
      ></a>

      <div class="logo-wrapper">
        <a class="logo" href="/home"
        ><img src="assets/img/logo_fptu.png" alt="logo"
        /></a>
        <a class="logo-alt" href="/home"
        ><img src="assets/img/logo_fptu.png" alt="logo-alt"
        /></a>
      </div>
    </div>
    <!-- END Logo -->

    <!-- User account -->
    <div class="pull-right user-login">
      <a class="btn btn-sm btn-primary" href="/login">Login</a> or
      <a href="/company/register">Register</a>
    </div>
    <!-- END User account -->

    <!-- Navigation menu -->
    <ul class="nav-menu">
      <li>
        <a class="active" href="/home">Home</a>
      </li>
      <li>
        <a href="#">Position</a>
        <ul>
          <li><a routerLink="/job-list">Browse jobs</a></li>
          <li><a routerLink="/job-detail">Job detail</a></li>
          <li><a routerLink="/job-apply">Apply for job</a></li>
          <li><a routerLink="/job-add">Post a job</a></li>
          <li><a routerLink="/job-manage">Manage jobs</a></li>
          <li><a routerLink="/job-candidates">Candidates</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Resume</a>
        <ul>
          <li><a routerLink="/resume-list">Browse resumes</a></li>
          <li><a routerLink="/resume-detail">Resume detail</a></li>
          <li><a routerLink="/resume-add">Create a resume</a></li>
          <li><a routerLink="/resume-manage">Manage resumes</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Company</a>
        <ul>
          <li><a routerLink="/company-list">Browse companies</a></li>
          <li><a routerLink="/company-detail">Company detail</a></li>
          <li><a routerLink="/company-add">Create a company</a></li>
          <li><a routerLink="/company-manage">Manage companies</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Pages</a>
        <ul>
          <li><a routerLink="/page-blog">Blog</a></li>
          <li><a routerLink="/page-post">Blog-post</a></li>
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/faq">FAQ</a></li>
        </ul>
      </li>
    </ul>
    <!-- END Navigation menu -->
  </div>
</nav>
<!-- END Navigation bar -->
