<app-nav-common></app-nav-common>
<!-- Site header -->
<header
  class="page-header bg-img size-xl overlay-light"
  style="background-image: url(../../../../assets/img/blog2.jpg)"
>
  <div class="container no-shadow">
    <h1 class="text-center">
      FPT University cooperates with Vietnamworks - the leading recruitment
      network in Vietnam
    </h1>
    <p class="lead text-center">
      <time datetime="2016-03-28 20:00">July 30, 2020</time>
    </p>
  </div>
</header>
<!-- END Site header -->

<!-- Main container -->
<main class="container blog-page">
  <div class="row">
    <div class="col-md-8 col-lg-9">
      <article class="post">
        <div class="blog-content">
          <blockquote>
            In the morning of July 30, representatives of Vietnamworks - the
            leading recruitment network in Vietnam, came to FPT University –
            HCMC campus to visit and work with the representatives of the FPT
            University. Accordingly, representatives of FPT University and
            Vietnamwork discussed strategic cooperation information on hiring,
            creating many values and benefits for students.
          </blockquote>

          <p>
            Attending the meeting were Mr. Tran Ngoc Tuan - Director of FPT
            University - Ho Chi Minh City, Mr. Tran Tuan Anh - Head of Training
            Department of FPT University, Ms. Pham Thi Phuong Khanh - Head of
            Marketing Department Vietnamworks and Mr. Phan Ngoc Danh -
            VietnamWorks InTECH project.
          </p>

          <p>
            Kindness to he horrible reserved ye. Effect twenty indeed beyond for
            not had county. Them to him without greatly can private. Increasing
            it unpleasant no of contrasted no continue.
          </p>

          <p>
            <strong>Vietnamworks</strong> is the leading recruitment network in
            Vietnam with a high number of vacancies and high quality businesses.
            Over 18 years of establishment and development, Vietnamworks has
            affirmed its position on the <i>recruitment map</i>
          </p>

          <br />
          <p><img src="../../../../assets/img/blog2-1.jpg" alt="..." /></p>
          <br />

          <p>
            Meanwhile, FPT University is a pioneer in applying technology to
            train diverse groups with more than 20,000 students, providing large
            and high quality human resources to meet the needs of many
            employers.
          </p>

          <p>
            At the meeting, representatives of two sides exchanged a lot of
            cooperation information. Accordingly, Vietnamworks will be the focal
            point between enterprises and candidates. Vietnamworks will send
            quality and suitable candidates, especially FPT University students,
            to businesses. Students will not have to take time to choose
            suitable vacancies or business environment.
          </p>
          <br />
          <p><img src="../../../../assets/img/blog2-2.jpg" alt="..." /></p>
          <br />
          <p>
            At the same time, with the advantage of business networks,
            Vietnamworks will connect with businesses to set up a recruitment
            criteria framework to providing for education partners, especially
            FPT University, to apply for a number of training subjects. Students
            will learn the content closest to the actual environment, the
            ability to meet business needs while still being a student. Not only
            expanding employment opportunities, representatives of Vietnamworks
            also want to cooperate in training FPT students to become senior
            (senior, experienced experts) of the enterprise right after
            graduation or immediately after 2 years working in the industry.
          </p>

          <p>
            Mr. Tran Ngoc Tuan said: “FPT University students have many
            opportunities to work with businesses while studying in the school.
            In the 3rd year, students can attend the On the Job Trainning
            semester at member companies or partners of FPT Corporation. The
            partnership with Vietnamworks will help students get ready to go
            into business, meeting employers' needs in a new context.”
          </p>

          <p>
            "Vietnamworks candidates have been selected, proficient in working
            tools, meeting the needs of businesses. Businesses and partners tend
            to trust Vietnamworks’ reference. Besides, Vietnamworks is building
            many projects iterms of training, technology. We hope to build a
            long-term strategic cooperate between the two units" - Ms. Pham Thi
            Phuong Khanh - Marketing Manager Vietnamworks said.
          </p>
          <br />
          <p><img src="../../../../assets/img/vietnamworks.jpg" alt="..." /></p>
          <br />
          <p>
            In addition, VietnamWorks InTECH - online recruitment page for
            information technology also bring many opportunities for FPT
            University students.
          </p>
          <p>
            This strategic cooperation of recruitment and training will create
            more value for students. It is expected that FPT University and
            Vietnamworks will sign the MOU in August 2020. This event will
            affirm the long-term strategic cooperation in the process of
            connecting students and businesses.
          </p>
        </div>

        <ul class="post-meta">
          <li>
            <strong>Posted in: </strong>
            <a href="#">Candidates</a>
          </li>

          <li>
            <strong>Tags: </strong>
            <a href="#">Work</a>, <a href="#">OJT</a>, <a href="#">Vietnamworks</a>,
            <a href="#">Workspace</a>
          </li>
        </ul>

        <div id="comments">
          <header>
            <h3>Comments <span class="txt-gray">(5)</span></h3>
          </header>

          <div id="respond">
            <h3>Leave a comment</h3>
            <form class="comment-form">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name"
                    />
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                    />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <textarea
                  class="form-control"
                  rows="5"
                  placeholder="Message"
                ></textarea>
              </div>

              <button type="submit" class="btn btn-primary">Add comment</button>
            </form>
          </div>
        </div>
      </article>
    </div>

    <div class="col-md-4 col-lg-3">
      <div class="widget">
        <h6 class="widget-title">Search</h6>
        <div class="widget-body">
          <form method="get" target="#">
            <input
              class="form-control"
              type="text"
              name="s"
              placeholder="Enter your keyword"
            />
          </form>
        </div>
      </div>

      <div class="widget">
        <h6 class="widget-title">Popular</h6>
        <ul class="widget-body media-list">
          <li>
            <div class="thumb">
              <a href="page-post.html"
                ><img src="../../../../assets/img/blog-1-thumb.jpg" alt="..."
              /></a>
            </div>
            <div class="content">
              <h5>
                <a href="page-post.html"
                  >How to Design Your Workspace for Productivity</a
                >
              </h5>
              <time datetime="2016-04-04 20:00">April 04, 2016</time>
            </div>
          </li>

          <li>
            <div class="thumb">
              <a href="page-post.html"
                ><img src="../../../../assets/img/blog-3-thumb.jpg" alt="..."
              /></a>
            </div>
            <div class="content">
              <h5>
                <a href="page-post.html"
                  >Why People Thrive in Coworking Spaces</a
                >
              </h5>
              <time datetime="2016-03-17 20:00">March 17, 2016</time>
            </div>
          </li>
        </ul>
      </div>

      <div class="widget widget_categories">
        <h6 class="widget-title">Categories</h6>
        <ul class="widget-body">
          <li class="cat-item"><a href="#">News</a></li>
          <li class="cat-item"><a href="#">Companies</a></li>
          <li class="cat-item"><a href="#">Market</a></li>
          <li class="cat-item"><a href="#">Candidates</a></li>
          <li class="cat-item"><a href="#">Positions</a></li>
          <li class="cat-item"><a href="#">Stats</a></li>
        </ul>
      </div>

      <div class="widget widget_tag_cloud">
        <h6 class="widget-title">Tags</h6>
        <div class="widget-body">
          <a href="#">blog</a>
          <a href="#">new</a>
          <a href="#">google</a>
          <a href="#">position</a>
          <a href="#">facebook</a>
          <a href="#">hire</a>
          <a href="#">chance</a>
          <a href="#">resume</a>
          <a href="#">tip</a>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- END Main container -->
