<!-- Navigation bar -->
<nav class="navbar">
  <div class="container">
    <!-- Logo -->
    <div class="pull-left">
      <a class="navbar-toggle" href="/dashboard" data-toggle="offcanvas"
        ><i class="ti-menu"></i
      ></a>

      <div class="logo-wrapper">
        <a class="logo" href="/dashboard"
          ><img src="assets/img/logo_fptu.png" alt="logo"
        /></a>
        <a class="logo-alt" href="/dashboard"
          ><img src="assets/img/logo_fptu.png" alt="logo-alt"
        /></a>
      </div>
    </div>
    <!-- END Logo -->

    <!-- User account -->
    <div class="pull-right">
      <div class="dropdown user-account">
        <a class="dropdown-toggle" href="#" data-toggle="dropdown">
          <img src="assets/img/logo-envato.png" alt="avatar" />
        </a>

        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">Setting</a></li><!--view/ edit profile-->
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
    <!-- END User account -->

    <!-- Navigation menu -->
    <ul class="nav-menu">
      <li>
        <a class="active" href="/dashboard">Dashboard</a>
      </li>
      <li>
        <a href="#">Student</a>
        <ul>
          <li><a routerLink="/resume-list">Browse Resume</a></li>
          <li><a routerLink="/job-candidates">Student Management</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Company</a>
        <ul>
          <li><a routerLink="/company-list">Browse Companies</a></li>
          <li><a routerLink="/company-manage">Company Management</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Jobs</a>
        <ul>
          <li><a routerLink="/job-list">Browse Jobs</a></li>
          <li><a routerLink="/job-manage">Job Management</a></li>
        </ul>
      </li>
      
      <li>
        <a routerLink="/semester-list">Semester</a>
      </li>
    </ul>
    <!-- END Navigation menu -->
  </div>
</nav>
<!-- END Navigation bar -->
